<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Management</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="header">
    <button id="btn_Student">
      Student
    </button>
    <button id="btn_Quizzes">
      Quizzes Management
    </button>
    <button id="btn_Logout">
      Logout
    </button>
  </div>
  <div class="divSubject">
    <label for="subject">Choose subject:</label>

    <select ct name="subject" id="subject">
      <option value=0>---Choose---</option>
    </select>

  </div>

  <div class="quiz">

    <h3 id="quizManager">Quiz</h3>
    <button id="btn_add">Add Quiz</button>
    <table id="quizMana">

    </table>
  </div>
  <div class="footer"></div>
  <script src="../quizManagementGlobalParam.js"></script>
  <script src="./quiz.js"></script>
</body>

</html>