<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Management</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="header">
    <button id="btn_Student">
      Student
    </button>
    <button id="btn_Quizzes">
      Quizzes Management
    </button>
    <button id="btn_Logout">
      Logout
    </button>
  </div>
  <div class="quiz">
    <h3 id="quizManager">Quiz</h3>
    <table id="quizMana">
      <tr>
        <th>
          Question
        </th>
        <th>
          answer A
        </th>
        <th>
          answer B
        </th>
        <th>
          answer C
        </th>
        <th>
          answer D
        </th>
        <th>
          correct answer
        </th>
      </tr>
    </table>
  </div>
  <div class="footer"></div>
  <script src="../quizManagementGlobalParam.js"></script>
  <script src="./quiz.js"></script>
</body>

</html>