.content{
  display: flex;
  flex-direction: column;
}

td,th,tr {
  border: 1px solid gray;
}
table{
  width: 100%;
}

* {
  text-align: center;
}

.divSubject {
  text-align: start;
}
#btn_add{
  display: block;
}