* {
  margin: auto;
  text-align: center;
}

.div-examCode {
  margin-top: 2rem;
}

#btn_start {
  margin-top: 1rem;
}

* {
  font-family: sans-serif;
}

#quit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}