<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Code</title>
  <link rel="stylesheet" href="./test-login.css">
</head>

<body>
  <form action="">
    <div class="div-examCode">
      <table>
        <tr>
          <td>Exam Code : </td>
          <td><input id="input-code" value="MAE101_WMSj9hlTkhKGJTjM" type="text"></td>
        </tr>
      </table>
    </div>
    <div>
      <button id="btn_show_score">Show Score</button>
      <button id="btn_start">Start</button>
    </div>
  </form>
  <button id="quit">Exit</button>
  <script src="./test-login.js"></script>
</body>

</html>