<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Exam</title>
  <link rel="stylesheet" href="./examTest.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="info"></div>
      <div class="timer"></div>
    </div>
    <div class="frameQuiz">
      <div class="displayQuestion">

      </div>
      <div class="answers">

      </div>
    </div>
    <div class="buttonQuestion">

    </div>
    
  </div>
  <script src="./examTest.js"></script>
</body>

</html>